label{margin-bottom:0!important}
input{align-self:center}
.Container{width:900px}
.controlUi>div{height:17em}
.input-group-prepend{width:90px;text-align:center!important}
.input-group-text{width:100%}
.Canvas{border:1px solid #CCC}
.gameCanvas.Canvas.mx-auto canvas{width:100%;height:100%}
.preCanvas{width:18em;height:17em}
.charOptions{
	border:1px solid #CCC;
	padding:10px;
	opacity:1;
	height:17em
}
.gameCanvas{height:31.5em}
#saveImage{
	display:none;
	margin:10px;
	padding:3px;
	border:1px solid #FF0000;
	border-radius:5px
}
footer{
	margin:15px 0;
	text-align:center
}
footer p{
	margin:0
}